@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Variables */
:root {
    --main-color:#19c8fa;
    --overlay-color:rgb(0 0 0 / 50%);
    --transparent-color:rgb(15 116 143 / 50%);
    --padding-section:100px;
    --text-color:#777;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family:  "Open Sans", sans-serif ;
}
header {
    position: absolute;
    width: 100%;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
ul {
    list-style: none;
}
/* Start Components */
.main-heading {
    text-align: center;
    margin-bottom: 95px;
}
.main-heading h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    padding-bottom: 20px;
    color: #333;
    position: relative;
}
.main-heading h3::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100px;
    bottom: 0;
    background-color: #333;
    left: 50%;
    transform: translateX(-50%);
}
.main-heading h3::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: white;
    bottom: -5px;
    border: 1px solid #333;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.main-heading p {
    color: var(--text-color);
    margin: 40px auto 50px;
    max-width: 500px;
}
/* End Components */
/* Start Header */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 80px;
}
header .container::before {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    bottom: 0;
    background-color: white;
}
header .container img {
    height: 40px;
}
header .container nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}
header .container nav ul {
    display: flex;
}
@media (max-width: 769px) {
    header .container nav ul {
        display: none;
        background-color: var(--overlay-color);
    }
    header .container nav .navbar{
        cursor: pointer;
    }
    header .container nav .navbar:hover + ul, header .container nav ul:hover  {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        z-index: 1;
        width: calc(100% - 30px);
    }
}
header .container nav ul li a{
    display: block;
    text-decoration: none;
    padding: 30px 10px;
    transition:0.5s ;
}
@media (max-width:768px) {
    header .container nav ul li a {
        padding: 20px;
    }
}
header .container nav ul li a:hover,header .container nav ul li .active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    position: relative;
    z-index: 1;
}
header .container .form {
    padding: 15px 15px 15px 20px;
    border-left: 1px solid white;
    position: relative;
    margin-left: 30px;
}
header .container nav .search-bar {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
/* End Header */
/* Start Landing */
.Landing {
    position: relative;
    height: 100vh;
    background-image:url(../images/landing.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
}
.Landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--overlay-color);
    width: 100%;
    height: 100%;
}
.Landing .text-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 30px;
    display:flex;
    justify-content: flex-end;
    background-color: var(--transparent-color);
}
@media (max-width:768px) {
    .Landing .text-box {
        width: 100%;
        justify-content: center;
    }
}
.Landing .text-box .content {
    width: 500px;
    padding: 20px;
}
.Landing .text-box .content h2 {
    font-weight: normal;
    text-transform: capitalize;
    line-height: 1.6;
    margin-bottom: 20px;
}
.Landing .text-box .content p {
    line-height: 1.6;
}
.Landing .change-background {
    position: absolute;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
}
.Landing .change-background:first-child {
    left: 30px;
}
.Landing .change-background:nth-child(2) {
    right: 30px;
}
@media (max-width:768px) {
    .Landing .change-background:nth-child(2) {
        right: 20px;
    }
    .Landing .change-background:first-child {
        left: 20px;
    }
}
.Landing .bullets {
    position: absolute;
    display: flex;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
}
.Landing .bullets li {
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 4px;
}
.Landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* End Landing */
/* Start Services */
.Services {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.Services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-column-gap: 130px;
    grid-row-gap: 100px;
}
@media (max-width: 576px) {
    .Services .services-container {
        grid-row-gap: 0px;
    }
}
.Services .services-container .services-box {
    display: flex;
}
@media (max-width: 576px) {
    .Services .services-container .services-box {
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }
}
.Services .services-container i {
    color: black;
    margin-right: 40px;
}
@media (max-width: 576px) {
    .Services .services-container i {
        margin: 0 auto 20px;
    }
}
.Services .services-container .text h5 {
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 25px;
    color: var(--main-color);
}
.Services .services-container .text p {
    line-height: 1.8;
    color: var(--text-color);
}
.services-section2 {
    background-image: url(../images/design-features.jpg);
    display: flex;
    padding: 100px 0;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    margin-top: 45px;
    justify-content: flex-end;
    overflow: hidden;
}
.services-section2::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    background-color: var(--overlay-color);
    width: 100%;
    height: 100%;
}
.services-section2 img {
    position: absolute;
    left:20%;
    bottom: -50px;
}
.services-section2 .text-container{
    flex-basis: 50%;
    position: relative;
}
.services-section2 .text-container {
    margin-left: 100px;
    padding: 50px;
    background: var(--transparent-color);
}
@media (max-width: 992px) {
    .services-section2 .text-container {
        margin-left: 50px;
    }    
}
@media (max-width: 768px) {
    .services-section2 .text-container {
        margin-left: 0;
        flex-basis: 100%;
    }
    .services-section2 img {
        left: 50%;
        transform: translateX(-50%);
    }    
}
.services-section2 .text-container h4{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 30px;
}
.services-section2 .text-container ul li {
    padding: 10px 0;
    text-transform: capitalize;
}
.services-section2 .text-container ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 10px;
}
/* End Services */
/* Start Portfolio */
.Portfolio {
    padding-bottom: var(--padding-section);
}
.Portfolio .container .shufll {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}
.Portfolio .container .shufll li:first-child {
    background-color: var(--main-color);
    color: white;
}
.Portfolio .container .shufll li {
    padding: 10px 15px;
    text-transform: capitalize;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.Portfolio .container .shufll li:hover {
    background-color: var(--main-color);
    color: white;
}
.Portfolio .img-container {
    display: flex;
    flex-wrap: wrap;
}
.Portfolio .img-container .img-box {
    flex-basis: 25%;
    position: relative;
    overflow: hidden;
}
@media (max-width: 992px) {
    .Portfolio .img-container .img-box {
        flex-basis: 50%;
    }    
}
@media (max-width:768px) {
    .Portfolio .img-container .img-box {
        flex-basis: 100%;
    }
}
.Portfolio .img-container .img-box:hover .text-box {
    bottom: 0;
}
.Portfolio .img-container .img-box img {
    max-width: 100%;
    transition: 0.3s;
}
.Portfolio .img-container .img-box:hover img {
    transform: scale(1.2);
}
.Portfolio .img-container .img-box .text-box {
    padding: 15px 10px;
    position: absolute;
    background: white;
    width: 100%;
    border-radius: 25px 25px 0 0;
    bottom: -100%;
    transition: 0.3s;
} 
.Portfolio .img-container h5, .Portfolio .img-container p {
    color: black;
}
.Portfolio .img-container h5 {
    font-weight: normal;
    margin-bottom: 10px;
}
.Portfolio .img-container p {
    font-size: 12px;
    color: var(--main-color);
}
.Portfolio a {
    background-color: var(--main-color);
    padding: 12px 17px;
    display: block;
    text-decoration: none;
    margin: 15px auto;
    width: fit-content;
    border-radius: 5px;
    text-transform: uppercase;
}
/* End Portfolio */
/* Start Video */
.video {
    position: relative;
}
.video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
}
.video video {
    max-width: 100%;
}
.video .text-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    background: var(--transparent-color);
}
.video .text-box h4{
    margin: 30px 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
}
.video .text-box p{
    text-transform: capitalize;
    margin-bottom: 25px;
}
.video .text-box button{
    background: black;
    padding: 10px 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
}
/* End Video */
/* Extra Small */
@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}
/* Small (sm) ≥576px */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
/* Medium (md) ≥768px */
@media (min-width: 769px) {
    .container {
        width: 720px;
    }
    header .container nav .navbar {
        display: none;
    }
}
/* Large (lg) ≥992px */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
/* Extra large (xl) ≥1200px */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
/* Extra extra large (xxl) ≥1400px */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}